@mixin addBorderRadius($val) {
    border-radius: $val;
  }
  
@mixin alignItems($pos) {
    align-items: $pos;
}

@mixin alignText($pos) {
    text-align: $pos;
}

@mixin centerContent() {
    justify-content: center
}

@mixin display($type) {
    display: $type;
}

@mixin flexWrap($val) {
    flex-wrap: $val;
}

@mixin giveFontSize($size) {
    font-size: $size;
}

@mixin giveWidth($width) {
    width: $width;
}

@mixin indicateGridArea($area) {
    grid-area: $area;
}

@mixin setCursorStyle($style) {
    cursor: $style;
}

@mixin setFlexDirection($dir) {
    flex-direction: $dir;
}

@mixin setOpacity($perc) {
    opacity: $perc;
}

@mixin setPosition($pos) {
    position: $pos;
}

@mixin setTransition($sec, $type) {
    transition: $sec $type;
}

@mixin setZIndex($num) {
    z-index: $num;
}
