// variables
$primary-background: #5B7894;
$secondary-background-color: white;
$tertiary-color-text: #84C8A4;
$quaternary-color: #C4EB67;
$secondary-color: #359567;
$body-font: "Quicksand", sans-serif;
$full-width: 100%;
$nope: none;