/* This is an example of using Sass, otherwise plain CSS works too*/
// variables
$body-font: "Quicksand", sans-serif;
$primary-background: #5B7894;
$secondary-background: white;
$yellow-green: #C4EB67;
$secondary-color: #359567;
$tertiary-color: #84C8A4;
$full-width: 100%;
$nope: none;

// @mixins
@mixin addBorderRadius($val) {
  border-radius: $val;
}

@mixin alignItems($pos) {
  align-items: $pos;
}

@mixin alignText($pos) {
  text-align: $pos;
}

@mixin justifyContent($pos) {
  justify-content: $pos;
}

@mixin display($type) {
  display: $type;
}

@mixin flexWrap($val) {
  flex-wrap: $val;
}

@mixin giveFontSize($size) {
  font-size: $size;
}

@mixin giveWidth($width) {
  width: $width;
}

@mixin indicateGridArea($area) {
  grid-area: $area;
}

@mixin setOverflowX($val) {
  overflow-x: $val;
}

@mixin setPadding($padAmt) {
  padding: $padAmt;
}

@mixin setCursorStyle($style) {
  cursor: $style;
}

@mixin setFlexDirection($dir) {
  flex-direction: $dir;
}

@mixin setMargin($vals) {
  margin: $vals;
}

@mixin setOpacity($perc) {
  opacity: $perc;
}

@mixin setPadding($vals) {
  padding: $vals;
}

@mixin setPosition($pos) {
  position: $pos;
}

@mixin setTransition($sec, $type) {
  transition: $sec $type;
}

@mixin setZIndex($num) {
  z-index: $num;
}

// SELECTOR STYLES

body {
  @include display(grid);
  @include setMargin(0);
  @include setPadding(0)
  background-color: $primary-background;
  font-family: $body-font;
}

h1 {
  @include giveFontSize(50px);
  @include setMargin(0%);
  @include setPadding(0.5% 0.7% 0%)
  color: $secondary-background;

}

h2 {
  @include setMargin(10px 0px 10px 0px)
  color: $tertiary-color;
}

h3 {
  @include setCursorStyle(pointer);
  @include setMargin(5px 5px 10px 0px);
  @include setTransition(.8s, ease);
  color: $tertiary-color;
}

h4 {
  @include addBorderRadius(3px);
  @include setMargin(10px 0px 0px 0px);
  @include setPadding(1px 4px 1px 4px);
  background-color: $yellow-green;
  color: $secondary-color;
}

.nav-btn {
  @include alignItems(center);
  @include alignText(center);
  @include justifyContent(center);
  @include display(flex);
  @include giveFontSize(0px);
  @include setCursorStyle(pointer);
  @include setFlexDirection(column);
  @include setMargin(0%);
  @include setPadding(2px 0px);
  @include setTransition(.4s, ease);
  background: $primary-background no-repeat;
  border: $nope;
  outline: $nope;

  &:hover {
    @include giveFontSize(14px);
    @include setTransition(.4s, ease);
    background-color: $yellow-green;
  }

  img {
    @include setPadding(2px 0px);
  }
  
}

header {
  @include display(flex);
  @include giveWidth($full-width);
  @include indicateGridArea(header);
  @include setFlexDirection(row);
  @include setPadding(0% 0%);
}

.header-apple-icon {
  @include setMargin(0px 0px 0px 5px);
}

span {
  color: $yellow-green;
}

aside {
  @include alignText(center);
  @include justifyContent(center);
  @include display(flex);
  background-color: $secondary-background;
}

.wrap {
  @include setPadding(10px);
  @include setPosition(relative);
  background-color: $secondary-background;
}

ul {
  list-style-type: $nope;
  text-align: left;
  @include setPadding(0 0 0 35px);
}

.card-apple-icon {
  @include setPadding(0 0 10px 0);
  @include setCursorStyle(pointer);
}

.card-photo-container {
  @include alignItems(center);
  @include justifyContent(center);
  @include display(flex);
  @include setCursorStyle(pointer)
  @include setPosition(relative);
}

.card-photo-preview {
  @include setOpacity(50%);
  @include setTransition(.8s, ease);
  @include giveWidth($full-width);
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 7px;
  height: 130px;
}

#search {
  @include addBorderRadius(15px 15px 15px 15px);
  @include justifyContent(center);
  @include display(flex);
  @include giveWidth($full-width);
  @include giveFontSize($body-font);
  @include setFlexDirection(row);
  @include setMargin(1.2% 0.5% 1.2% 0%);
  border: 3px outset $yellow-green;
  box-shadow: 0px 0px 7px 0px #475d74;
}

#search-input {
  @include addBorderRadius(10px 0px 0px 10px);
  @include giveFontSize(42px);
  @include giveWidth($full-width);
  @include setTransition(.8s, ease);
  border: $nope;
  box-shadow:inset -3px -1px 20px 1px #5c7894; 
  color: $primary-background;
  font-family: $body-font;

  &:hover {
    @include setTransition(.8s, ease);
    box-shadow: inset 0px 0px 0px 0px $secondary-background;
  }

  &:focus {
    box-shadow: inset 0px 0px 0px 0px $secondary-background;
  }
  
  &::placeholder {
    @include alignItems(right);
    @include giveFontSize(20px);
    color: $primary-background;
    text-shadow: $nope;

    &:focus::placeholder {
      @include giveFontSize(0px);
      @include setTransition(.8s, ease);
    }
  }
}

.show-all-btn {
  @include addBorderRadius(3px);
  @include giveFontSize(12pt);
  @include setMargin(20px 0 0 0);
  @include setPadding(5px 10px 5px 10px);
  @include setCursorStyle(pointer);
  background-color: $yellow-green;
  font-family: $body-font
}

.search-label {
  @include display(none);
}

.search-btn {
  @include addBorderRadius(0px 15px 15px 0px);
  @include setPadding(1%);
  border-left: 3px outset $secondary-background;
}

.filter-btn {
  @include addBorderRadius(3px);
  @include giveFontSize(12pt);
  @include setPadding(5px 10px 5px 10px);
  @include setCursorStyle(pointer);
  background-color: $tertiary-color;
  color: $secondary-background;
  font-family: $body-font;

  &:hover {
    background-color: $tertiary-color;
  }
}

.add-ing-btn {
  background-color: $tertiary-color;
  color: $secondary-background;
  font-family: $body-font;

  &:hover {
    background-color: $yellow-green;
  }
}

.text {
  @include alignText(center);
  @include giveFontSize(0px);
  @include setOpacity(0%);
  @include setPadding(0%);
  @include setPosition(absolute);
  @include setTransition(.5s, ease);
  background: $secondary-color;
  color: $secondary-background;
}

.ing-pan-btn {
  @include setPadding(1px 6px 5px 0px);
  @include setMargin(1% 0%)
}

.banner-image {
  @include giveWidth($full-width);
  @include indicateGridArea(image);
}

.myrecipes-banner {
  @include alignText(center);
  @include setMargin(25px 0 0 0);
  width: 95%;

  h1{
    color: $secondary-background;
  }

}

.welcome-msg {
  @include alignText(center);
  width: 95%;
  color: $secondary-background;
  margin-top: 50px;

  h1{
    color: $secondary-background;
    width: 100%;
  }

}

.my-recipes-banner {
  @include display($nope);
}

// PANTRY STUFF
.show-pantry-recipes-btn {
  @include addBorderRadius(3px);
  @include giveFontSize(12pt);
  @include setMargin(10px 0 0 0 );
  @include setPadding(5px 10px 5px 10px);
  @include setCursorStyle(pointer);
  font-family: $body-font;
}

.drop-menu {
  @include alignItems(center);
  @include alignText(center);
  @include display(none);
  @include setPadding(12px);
  @include setPosition(absolute);
  @include setZIndex(3);
  color: $secondary-color;

  h2 {
    color: $secondary-color;
  }
}


// RECIPE CARD SECTION
main {
  @include justifyContent(center);
  @include display(flex);
  @include flexWrap(wrap);
  @include indicateGridArea(main);
  @include setFlexDirection(row)
}

.recipe-card {
  @include addBorderRadius(7px);
  @include giveWidth($full-width);
  @include setMargin(20px);
  @include setPadding(15px);
  @include setPosition(pointer);
  background-color: $secondary-background;
  
  &:hover {
    @include setOpacity(100%);
    @include setTransition(.8s, ease);
    @include giveFontSize(20px);
    border: 2px solid $yellow-green;
    text-shadow: 0px 0px 4px $yellow-green;
    
    .text {
      @include setOpacity(100%);
      @include setTransition(.8s, ease);
    }

    h3 {
      text-shadow: 0px 0px 4px #C4EB67;
      transition: .8s ease;
    }
  }
}

#recipe-title {
  @include alignText(center);
  @include giveFontSize(30px);
  @include setMargin(0);
  @include setPadding(5%);
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 7px 7px 0px 0px;
  color: $secondary-background;
}

.recipe-instructions {
  @include addBorderRadius(10px)
  @include display(none);
  @include setMargin(0);
  @include setOverflowX(scroll);
  @include setPadding(1% 1% 1% 1%);
  @include setPosition(fixed);
  @include setZIndex(1000);
  background: $secondary-background;
  color: $secondary-color;

  h4 {
    background: $secondary-background;
    color: $secondary-color;
  }
}

#exit-recipe-btn {
  @include addBorderRadius(5px)
  @include giveFontSize(20px);
  @include setCursorStyle(pointer);
  @include setMargin(-4% -3% 2% -1%);
  @include setPosition(fixed);
  @include setTransition(.3s, ease);
  background: $secondary-background;
  color: $secondary-color;
  border: 2px double $secondary-color;

  &:hover {
    @include setTransition(.3s, ease);
    background: $yellow-green;
  }

}

.saved-ingredients-btn {
  @include setMargin(1% 0%);
  border-left: 3px solid $yellow-green;
}

#overlay {
  @include giveWidth($full-width);
  @include setOpacity(0.5);
  @include setPosition(fixed);
  @include setZIndex(100);
  filter: alpha(opacity=50);
  background-color: $primary-background;
}

//MEDIA QUERIES

@media only screen and (max-width: 1024px) {
  .recipe-card {
    min-width: 35%;
  }

  .hat {
    @include setMargin(15px 0 0 0);
    height: 40px;
  }

  .paper {
    @include setMargin(15px 0 0 0);
    height: 40px;
  }

  #search {
    @include setMargin(25px 0 0 0);
    height: 40px;
  }

  .search-btn {
    height: 40px;

    img {
      height: 40px;
    }
  }

  .search-label {
    height: 40px;
  }

}

@media only screen and (max-width: 480px) {
  .hat {
    @include setMargin(12px 0 0 0);
    height: 40px;
  }

  .paper {
    @include setMargin(12px 0 0 0);
    height: 40px;
  }

  #search {
    @include setMargin(25px 0 0 0);
    height: 40px;
  }

  .search-btn {
    height: 40px;

    img {
      height: 40px;
    }
  }

  .search-label {
    height: 40px;
  }

}



