body {
  grid-template-columns: 1fr 5fr;
  grid-template-areas:
    "header header"
    "image image"
    "aside main";
  height: 100vh;
  -webkit-font-smoothing: auto;
}

h1 {
  align-self: center;
  font-family: "Sulphur Point", sans-serif;
  width: 70%;
}

h3 {
  height: 17%;
}

h4 {
  width: max-content;
}


/* HEADER */
span {
  font-weight: 400;
}

.header-apple-icon {
  height: 40px;
  width: 35px;
}

#search-input {
  background-color: #b6dcca;
  background: -webkit-gradient( linear,left top, left bottom, color-stop(0, rgb(255, 255, 255)), color-stop(1, rgb(225,225,225)));
}

.nav-btn {
  font-weight: 700;
  overflow: hidden;
  width: 15%;
}

.nav-btn:hover {
  text-shadow: 0px 2px 4px black;
}

/* BANNER IMAGE*/
.banner-image {
  background: linear-gradient(rgba(0,0,0,.5), rgba(0,0,0,.5)),url("../images/green-apples.jpg");
  height: 150px;
  overflow: hidden;
}

/* FILTER SIDEBAR */
aside {
  height: auto;
}

.wrap {
  height: 100vh;
  width: 200px;
}

ul {
  list-style-type: none;
  text-align: left;
  padding-left: 35px;
}

li {
  margin: 2px;
}


/* RECIPE CARD SECTION */
main {
  align-content: flex-start;

}

.recipe-card {
  height: 270px;
  width: 250px;
}

.card-apple-icon {
  float: right;
  height: 50px;
  width: 45px;
}

.card-photo-container {
  height: 130px;
}

.text {
  font-weight: 700;
  width: 0%;
}


/* BUTTONS */
.show-pantry-recipes-btn,
.show-all-btn,
.filter-btn {
  border: 0;
  font-weight: bold;
}

.show-all-btn {
  height: 40px;
  width: 200px;
}

/* PANTRY LIST */
.drop-menu {
  background-color: #DAE4EE;
  height: 600px;
  margin-left: 81%;
  margin-top: 92px;
  overflow: scroll;
  width: 250px;
}

.add-ing-btn {
  
}

.drop-menu h2 {
  margin: 0px;
}

.pantry-list {
  color: #000000;
  padding-left: 15px;
  text-align: left;
}


/* RECIPE INSTRUCTIONS */
.recipe-instructions {
  border: 3px solid #C4EB67;
  box-shadow: 1px 1px 115px black;
  height: 70%;
  right: 15%;
  top: 15%;
  width: 70%;
}

#exit-recipe-btn {
  font-weight: 700;
  margin: -4% -3% 2% -1%;
}

#recipe-title {
  text-shadow: 0px 0px 6px black;
}

.recipe-instructions p {
  margin-left: 2%;
}

.recipe-instructions ol {
  margin-right: 2%;
}

#overlay {
  height: 100%;
  left: 0;
  top: 0;
}

@media only screen and (max-width: 1024px) {
  .recipe-card {
    // height: 270px;
    min-width: 35%;
  }
}